﻿ul {
    list-style-type:none;
    margin: 0;
    padding:0;
}

ul.inline-fields li {
    margin-right:25px;
    display:inline-block;
}

input.numeric {
    width: 50px;
}

input.quarter {
    width: 200px;
}