﻿@{
    ViewBag.Title = "Index";
}
@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}
 <div class="large-9 columns">
      <div class="panel">
        <div class="row">
<p><strong>Games:</strong> Power Enrichment Camp will not be responsible for lost games or handheld devices that may be brought from home (electronic games, IPods, MP3,etc.).</p>

<p><strong>DVD&rsquo;s/VCR Tapes:</strong> There will be opportunities for students to watch movies and Power Enrichment Camp have purchased many movies for the summer. Children will not be able to bring in any DVD&rsquo;s/VCR tapes. Power Enrichment Camp will not be responsible for any items brought in from home.</p>

<p><strong>Money:</strong> Parents to prevent lost monies please seal all trip money or snack money in a small envelope or if you feel your child can be responsible for their money it can be given to them. We will not take trip money for children unless it is in a sealed envelope with the child&rsquo;s name on it.</p>

<p><strong>Trips:</strong> All children are not obligated to go on every trip. There will be an adult staff at the school. Field trips are subject to change and we also want to venture on new trips as we continue to do our research and take suggestions from our parents. Trip schedule and fees TBA.</p>

<p><strong>T-Shirts:</strong> All campers are required to purchase a camp T-Shirt at $12.00. Your child will be required to wear our camp t-shirt on all field trips.</p>

<p><strong>Attire:</strong> All campers are expected to come to camp appropriately dressed. We ask that there are no tank tops or sleeveless clothing worn. All swim suits for the young ladies must be a one piece suit. Students will be allowed to change their clothes and all articles of clothing must be marked with the campers name. There will be a storage area for all bags. Power Enrichment Camp will not be held responsible for any lost or stolen items of clothing.</p>

<p><strong>Cook Out:</strong> Power Enrichment camp will be hosting a summer cook out. As we get closer to the date we will be requesting donations from parents/guardians. Donations can be food and monetary.</p>

<p><strong>Payments:</strong> Payments for before care and after care are on a week to week basis of $50 for before and $50 for after care. There is no refund of any monies paid toward the camp. Before Care starts promptly at 7AM and After Care begins at 5:01pm and ends promptly at 6:30PM. There will be a $1 charged for every minute late due at pick up for any camper picked up after 6:30PM.</p>

                </div></div></div>