﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/foundation.css")
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/presentation.css")
      @Styles.Render("~/Content/custom.css")
    @RenderSection("styles", false)
</head>
<body>
    <div class="row">       
        @RenderSection("banner", false)
    </div>
    <div class="row" id="infoBar">
        <div class="loginArea">
            @if (HttpContext.Current.Session["LoggedInUserID"] == null)
            {
                  <a href="/Login">Login</a><a href="/Account/Register">Register</a>
            }else{
               
                <span>Logged in as <a href="/Account/Register"> @HttpContext.Current.Session["LoggedInUserName"].ToString()</a><a href="/Account/LogOff">Logout</a></span>
            }
            
            
        </div>
    </div>
   <div class="row">

    <div class="large-3 panel columns" id="navPanel">
        <div class="row">
           <ul class="nav-bar vertical">
               <li id="AboutUs" ><a href="/AboutUs">About Us</a></li>
               <li id="WelcomePackage"><a href="/WelcomePackage">Welcome Package</a></li>
               <li id="CampusRules"><a href="/CampusRules">Campus Rules/Packages</a></li>
               <li id="PowerEnrichment" ><a href="/PowerEnrichment">Power Enrichment</a></li>
               <li id="DailySchedule" ><a href="/DailySchedule">DailySchedule</a></li>
                @if (HttpContext.Current.Session["LoggedInUserName"] != null && HttpContext.Current.Session["LoggedInUserName"].ToString() == "sudeep")
            {
               <li id="Report" ><a href="/Report">Report</a></li>
                }
            </ul>
       </div>

    </div>
        @RenderBody()
</div>
 <!-- Start Footer -->

  <footer class="row">
         <div class="large-12 columns"><hr />
      <div class="row">

        <div class="large-6 columns">
            1505 Eutaw Place, Balitmore, MD-21217. Phone# 410.225.3424
        </div>

      </div>
  </div>
  </footer>
       
 <!-- End Footer -->

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")

    
    @RenderSection("scripts", false)

       <script type="text/javascript">
           $(document).ready(function () {
               if (window.location.pathname.substring(1) == "AboutUs") {
                   jQuery('#AboutUs').addClass('active');
               }
               else if (window.location.pathname.substring(1) == "WelcomePackage") {
                   jQuery('#WelcomePackage').addClass('active');
               }
               else if (window.location.pathname.substring(1) == "CampusRules") {
                   jQuery('#CampusRules').addClass('active');
               }
               else if (window.location.pathname.substring(1) == "PowerEnrichment") {
                   jQuery('#PowerEnrichment').addClass('active');
               }
               else if (window.location.pathname.substring(1) == "DailySchedule") {
                   jQuery('#DailySchedule').addClass('active');
               }
               else if (window.location.pathname.substring(1) == "Report") {
                   jQuery('#Report').addClass('active');
               }
               
           });
</script>
</body>
</html>