﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/foundation.css")
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/presentation.css")
      @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/colorbox.css")
    @Scripts.Render("//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.colorbox-min.js")

    @RenderSection("styles", false)
</head>
<body>

   

   <div class="row">
   
      
       @RenderSection("banner", false)
  </div>
   <div class="row">

        @RenderBody()
</div>
 <!-- Start Footer -->

  <footer class="row">
         <div class="large-12 columns"><hr />
      <div class="row">

        <div class="large-6 columns">
            1505 Eutaw Place, Balitmore, MD-21217. Phone# 410.225.3424
        </div>

      </div>
  </div>
  </footer>
       
 <!-- End Footer -->


    
    @RenderSection("scripts", false)
</body>
</html>