﻿@using System.Security.Policy
@model ETCSummerCamp.Core.Entities.User

@if (Model != null)
{
    <div style="background-color: beige; width: 100%; height: 100%; padding: 5px; border-color: #829d58; border-style: solid; border-width: 10px;">
        <span style="font-size: 20px;padding: 0px">Detail Information for : @Model.UserName </span>
        <hr style="color: #829d58; background-color: #829d58; width: 80%; height: 2px;padding: 0px" />
        @if (Model.Contacts != null)
        {
            foreach (var contact in Model.Contacts)
            {
            <div>
                <span>@Html.Label(contact.FirstName, "Contact First Name")</span>
                <span>@Html.Label(contact.LastName, "Contact Last Name")</span>
                <span>@Html.Label(contact.MiddleName, "Contact Middle Name")</span>
                <span>@Html.Label(contact.Relationship, "Relationship")</span>
                <span>@Html.Label(contact.SpecialInstruction, "Special Instruction")</span>
                <span>@Html.Label(contact.Doctor, "Doctor")</span>
                <span>@Html.Label(contact.Phone, "Phone")</span>
                <span>@Html.Label(contact.PolicyNumber, "PolicyLevel Number")</span>
            </div>
            }
        }

        @if (Model.UserPayments.Any())
        {
            foreach (var userPayment in Model.UserPayments)
            {
            <div>
                <span>@Html.Label(userPayment.CamperFirstName, "Camper First Name")</span>
                <span>@Html.Label(userPayment.CamperLastName, "Camper Last Name")</span>
                <span>@Html.Label(userPayment.PaymentMethodId.ToString(), "Payment Method")</span>
            </div>
            }
        }
    </div>
}
