﻿@{
    ViewBag.Title = "Index";
}
@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}
<div class="large-9 columns">
      <div class="panel">
        
        <div class="row">
            <div class="large-6 columns"><strong>Schedules</strong></div>
            <div class="large-6 columns"><strong>Mon-Thurs</strong></div>
        </div><br />

         <div class="row">
            <div class="large-6 columns">7:00-8</div>
            <div class="large-6 columns">Before Care</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">8-8:30</div>
            <div class="large-6 columns">Breakfast</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">8:30-9</div>
            <div class="large-6 columns">Chapel</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">9-10</div>
            <div class="large-6 columns">Literacy</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">10-11</div>
            <div class="large-6 columns">Group Activity</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">11-12</div>
            <div class="large-6 columns">Group Activity</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">12-12:30</div>
            <div class="large-6 columns">Lunch</div>
        </div><br />

           <div class="row">
            <div class="large-6 columns">12:30-1:30</div>
            <div class="large-6 columns">Math</div>
        </div><br />

         

           <div class="row">
            <div class="large-6 columns">1:30-2:30</div>
            <div class="large-6 columns">Science</div>
        </div><br />


          <div class="row">
            <div class="large-6 columns">2:30-3:30</div>
            <div class="large-6 columns">Arts &amp; Crafts</div>
        </div><br />

          <div class="row">
            <div class="large-6 columns">3:30-4:30</div>
            <div class="large-6 columns">Health/Wellness</div>
        </div><br />

          <div class="row">
            <div class="large-6 columns">4:30-4:55</div>
            <div class="large-6 columns">Dinner</div>
        </div><br />

          <div class="row">
            <div class="large-6 columns">4:55-5</div>
            <div class="large-6 columns">Clean Up\Pick Up</div>
        </div><br />

          <div class="row">
            <div class="large-6 columns">5:01-6:30</div>
            <div class="large-6 columns">After Care</div>
        </div><br />

           <div class="row">
                <p><strong>Friday</strong></p>
                <p>All Day Activity-Field Trip</p>

            </div>

          <div class="row">
                <p><strong>Specialty Days</strong></p>
            <p>Tuesday Swimming</p>
            <p>Wednesday Career Day</p>
           </div>
            

      </div>

</div>


