﻿@model IEnumerable<ETCSummerCamp.Core.ViewModels.UserReportItem>
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "Report";
}
@{
    Layout = "~/views/shared/_ReportLayout.cshtml";
}
@Styles.Render("~/Content/Gridmvc.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/colorbox.css")
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Scripts.Render("~/Scripts/gridmvc.min.js")

@section banner {
    <img src="/images/banner_web.jpg" width="1600" height="150"><br>
    <br>
}

<div class="panel">
   
        <span>Number of Records to Display</span>
        
       <ul class="inline-fields">
        <li>
                    <input  type="text" id="numberRecords" value="@ViewData["rowCount"]" />
                </li>
                <li>
                  <input type="button" class="small button" value="Reload" onclick="javascript: reloadWithNewNumberOfRecords()" />
                </li></ul>
    <div style="">

        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(c => c.User.UserName).Titled("Username").SortInitialDirection(GridSortDirection.Ascending);
            columns.Add(c => c.UserDetail.Name).Titled("Name");
            columns.Add(c => c.UserDetail.Age).Titled("Age");
            columns.Add(c => c.UserDetail.BirthDate).Titled("BirthDate").Format("{0:dd/MM/yyyy}");
            columns.Add(c => c.UserDetail.Ethnicity).Titled("Ethnicity");
            columns.Add(c => c.UserDetail.Gender).Titled("M/F").SetWidth(10);
            columns.Add(c => c.UserDetail.Grade).Titled("Grade");
            columns.Add(c => c.UserDetail.Parent).Titled("Parent");
            columns.Add(c => c.UserDetail.Email).Titled("Email");
            columns.Add(c => c.UserDetail.TShirtSize).Titled("T-Shirt");
            columns.Add(c => c.CompleteAddress).Titled("Address").Sortable(false).SetWidth(100);
            columns.Add(c => c.UserDetail.City).Titled("City");
            columns.Add(c => c.UserDetail.State).Titled("State");
            columns.Add(c => c.UserDetail.Zip).Titled("Zip");
            columns.Add(c => c.ContactName).Titled("Contact Name");
            columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(d =>
                            @<b>
                    @Html.ActionLink(">>", "MoreUserDetail","Report",new{ id=d.User.UserId},new {@class="detailInPopUpBox"})
                </b>);
        }).WithPaging((int)ViewData["rowCount"]).Sortable().Filterable().WithMultipleFilters()
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".detailInPopUpBox").colorbox({width: "50%", height:"50%" });
    });

    reloadWithNewNumberOfRecords = function() {
        if ($("#numberRecords").val() != '') {
            var repUrl = '@Url.Action("Index", "Report")' + '?rowCount=' + $("#numberRecords").val();
            document.location = repUrl;
        }
    };
</script>
