﻿
@model ETCSummerCamp.Models.LoginModel
@{
    ViewBag.Title = "Index";
}
@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}

<div class="large-9 columns">
    <div class="panel">
        <div class="row">
            @*<form>
              <fieldset>
                <legend>User Login</legend>

                <label>User Name</label>
                <input type="text" placeholder="Please Enter Your Username">

                 <label>Password</label>
                <input type="text" placeholder="Please Enter Your Passoword">
                  <a href="#" class="button">Login</a>
              </fieldset>
        </form>*@
            @using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <label>
            
                @Html.LabelFor(m => m.UserName)
                
        </label>
                @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName" })
               
         <label>    
                @Html.LabelFor(m => m.Password) 

         </label>
                @Html.PasswordFor(m => m.Password)
               

        <label>  @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</label>
                @Html.CheckBoxFor(m => m.RememberMe)
               

                <input type="submit" class="button" value="Log in" />
      <ul><li>@Html.ValidationMessageFor(m => m.UserName)</li><li> @Html.ValidationMessageFor(m => m.Password)</li></ul>   
        
      @*  @Html.ValidationSummary() *@
    </fieldset>
}
            </div>
        
     </div>
</div>




