﻿
<section>
        <fieldset>
            <legend>Emergency Contact(Other than Parent/Guardian)</legend>
            <ul class="inline-fields">
                <li>
                    <label for="emergencyName">Name</label>
                    <input name="emergencyName" type="text" id="emergencyName" required data-bind="value: contactsViewModel.EmergencyContact.Name"/>
                </li>
                <li>
                    <label for="emergencyRelationship">Relationship</label>
                    <input class="quarter" name="emergencyRelationship" type="text" 
                        id="emergencyRelationship" required data-bind="value: contactsViewModel.EmergencyContact.Relationship"/>
                </li>
                <li>
                    <label for="emergencyPhone">Phone</label>
                    <input class="quarter" name="emergencyPhone" type="text" id="emergencyPhone"
                        required data-bind="value: contactsViewModel.EmergencyContact.Phone"/>
                </li>
            </ul>
        </fieldset>
        <fieldset data-bind="with: medicalInfoViewModel">
            <legend>Medical Information</legend>
            <ul>
                <li>
                    <label for="medicalDoctor">Doctor</label>
                    <input id="medicalDoctor" name="medicalDoctor" type="text" required data-bind="value: Doctor" />
                </li>
                <li>
                    <label for="medicalInsurance">Insurance</label>
                    <input id="medicalInsurance" name="medicalInsurance" type="text" required data-bind="value: Insurance" />
                </li>
                <li>
                    <label for="medicalPolicy">Policy Number</label>
                    <input id="medicalPolicy" name="medicalPolicy" type="text" required data-bind="value: PolicyNumber"/>
                </li>
                <li>
                    <label for="medicalPhone">Phone</label>
                    <input id="medicalPhone" name="medicalPhone" type="text" required data-bind="value: Phone" />
                </li> 
            </ul>
            <div class="questionnaireArea" data-bind="foreach: Questionaires">
                <div class="questionaireQuestion">
                    <label for="medicalPhone" data-bind="text: QuestionDescription">                                
                    </label>
                    <input data-bind="checked: QuestionResponse" type="checkbox" />
                </div>
            </div>
            <div class="finalQuestion">
                <label for="medicalReason">If you answered yes to any of the questions above, please explain...</label>
                <input data-bind="value: MedicalReason" type="text" name="medicalReason" id="medicalReason" />
            </div>
        </fieldset>
        <fieldset data-bind="with: contactsViewModel">
            <legend>Adults Allowed to Pick Up Student</legend>
            <ul data-bind="foreach: Contacts">
                <li>
                    <label>Name</label>
                    <input type="text" data-bind="value: Name"/>
                </li>
                <li>
                    <label>Relationship</label>
                    <input type="text" data-bind="value: Relationship"/>
                </li>
                <li>
                    <label>Special Instructions</label>
                    <input type="text" data-bind="value: SpecialInstructions"/>
                </li>
            </ul>

        </fieldset>
</section>