﻿@model ETCSummerCamp.Models.RegistrationModel

<section>
        <fieldset data-bind="with: paymentViewModel">
            <legend>Payment Agreement</legend>
            <strong>Camper</strong>
            <ul class="inline-fields">
                <li>
                    <label for="allowedCamperLastName">Last Name</label>
                    <input name="allowedCamperLastName" type="text" id="allowedCamperLastName" data-bind="value: Camper.LastName"/>
                </li>
                <li>
                    <label for="allowedCamperFirstName">First Name</label>
                    <input name="allowedCamperFirstName" type="text" id="allowedCamperFirstName" data-bind="value: Camper.FirstName"/>
                </li>
                <li>
                    <label for="allowedCamperMI">MI</label>
                    <input name="allowedCamperMI" type="text" id="allowedCampertMI" data-bind="value: Camper.MiddleName"/>
                </li>
            </ul>
            
            <strong>Parent/Guardian</strong>
            <ul class="inline-fields">
                <li>
                    <label for="allowedParentLastName">Last Name</label>
                    <input name="allowedParentLastName" type="text" id="allowedParentLastName" data-bind="value: Parent.LastName"/>
                </li>
                <li>
                    <label for="allowedParentFirstName">First Name</label>
                    <input name="allowedParentFirstName" type="text" id="allowedParentFirstName" data-bind="value: Parent.FirstName"/>
                </li>
                <li>
                    <label for="allowedParentMI">MI</label>
                    <input name="allowedParentMI" type="text" id="allowedParentMI" data-bind="value: Parent.MiddleName"/>
                </li>
            </ul>
            <div class="panel">
                <div class="payment">Payment Plan Choice: Please select the appropriate plan choice.</div>
                <div class="row">
                    <label>
                        <input type="radio" name="paymentperiod" value="1" data-bind="checked: PaymentPlan" />Bi-Weekly
                    </label>
                    <label>
                        <input type="radio" name="paymentperiod" value="2" data-bind="checked: PaymentPlan"/>Monthly
                    </label>
                    <label>
                        <input type="radio" name="paymentperiod" value="3" data-bind="checked: PaymentPlan"/>Full Paid before Session Begins
                    </label>
                    <label>
                        <input type="radio" name="paymentperiod" value="4" data-bind="checked: PaymentPlan"/>Half paid by begin of Session
                    </label>
                </div>
                   
            </div>
              
        </fieldset>
            
</section>

 