﻿@model ETCSummerCamp.Models.RegistrationModel

<section>
  
    <form id="userInformationForm">
        <fieldset>
            <legend>User Credentials</legend>
            <ul>
                <li>
                    <label for="userName">User Name</label>
                    <input id="userName" name="userName" type="text" required data-bind="value: stepOneViewModel.UserName" />
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required data-bind="value: stepOneViewModel.Password" />
                </li>
                <li>
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" required />
                </li>
                <!--li>
                    <input class="submit" type="submit" value="Submit"/>
                </li-->
            </ul>
        </fieldset>
    
        <fieldset>
            <legend>User Information</legend>
            <ul>
                <li>
                    <label for="studentName">Student Name</label>
                    <input id="studentName" name="studentName" type="text" required data-bind="value: stepOneViewModel.StudentName" />
                </li>
                
                    
                        <li>
                            <label for="birthDate">Birth Date</label>
                            <input class="datePicker" type="date" id="birthDate" required data-bind="value: stepOneViewModel.BirthDate"/>
                        </li>
                        <li>
                            <label for="age">Age</label>
                            <input class="numeric" type="number" id="age" required data-bind="value: stepOneViewModel.Age"/>
                        </li>
                        <li>
                            <label for="gender">Gender</label>
                            <select id="gender" name="gender" required data-bind="value: stepOneViewModel.Gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </li>
                        <li>
                            <label for="ethnicity">Ethnicity</label>
                            <input name="ethnicity" id="ethnicity" type="text" required data-bind="value: stepOneViewModel.Ethnicity"/>
                        </li>
                        
                  
               
                <li>
                    <label for="parent">Parent/Guardian</label>
                    <input name="parent" id="parent" type="text" required data-bind="value: stepOneViewModel.Parent"/>
                </li>
                <li>
                    <label for="address">Address</label>
                    <input name="address" id="address" type="text" required data-bind="value: stepOneViewModel.Address"/>
                </li>
                <li>
                    <label for="city">City</label>
                    <input name="city" id="city" type="text" required data-bind="value: stepOneViewModel.City"/>
                </li>
                <li>
                    <label for="state">State</label>
                    <input name="state" id="state" type="text" required data-bind="value: stepOneViewModel.State"/>
                </li>
                <li>
                    <label for="zipCode">Zip Code</label>
                    <input name="zipCode" id="zipCode" type="text" required data-bind="value: stepOneViewModel.ZipCode"/>
                </li>
                <li>
                    <label for="phoneHome">Home Phone</label>
                    <input name="phoneHome" id="phoneHome" type="text" required data-bind="value: stepOneViewModel.HomePhone"/>
                </li>
                <li>
                    <label for="phoneAlt">Alternate Phone</label>
                    <input name="phoneAlt" id="phoneAlt" type="text" required data-bind="value: stepOneViewModel.AlternativePhone"/>
                </li>
                <li>
                    <label for="shirtSize">Shirt Size</label>
                    <select id="shirtSize" name="shirtSize" required data-bind="value: stepOneViewModel.ShirtSize">
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="X-Large">X-Large</option>
                        <option value="XX-Large">XX-Large</option>
                        <option value="XXX-Large">XXX-Large</option>
                    </select>
                </li>
                <li>
                    <label for="grade">Grade</label>
                    <input name="grade" id="grade" type="text" required data-bind="value: stepOneViewModel.Grade"/>
                </li>
                <li>
                    <label for="emailAddress">Email Address</label>
                    <input type="email" id="emailAddress" name="emailAddress" type="text" required data-bind="value: stepOneViewModel.Email"/>
                </li>
            </ul>
        </fieldset>
    </form>
</section>