﻿@model ETCSummerCamp.Models.RegistrationModel

@{
    ViewBag.Title = "Registration Wizard";
}
@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}
<div class="large-9 columns">
    <div class="panel">        
        <div class="row">
           
            
            

            <!-- Smart Wizard wizard1-->
  		<div id="wizard1" class="swMain">
		      <ul>
		          <li><a href="#step-1">
                
		                  <span class="stepDesc">
		                      User Information
		                  </span>
		              </a></li>
		          <li><a href="#step-2">
               
		                  <span class="stepDesc">
                  
		                      Contact Information
		                  </span>
		              </a></li>
		          <li><a href="#step-3">
                
		                  <span class="stepDesc">
		                      Payment Information
		                  </span>                   
		              </a></li>

		      </ul>
  			    <div id="step-1">	
                    <h2 class="StepTitle">User Information</h2>
                    @Html.Partial("_RegisterStepOne")         			
                </div>
  			    <div id="step-2">
                    <h2 class="StepTitle">Contact Information</h2>	
                    @Html.Partial("_RegisterStepTwo")         
                </div>                      
  			    <div id="step-3">
                    <h2 class="StepTitle">Payment Information</h2>	
                    @Html.Partial("_RegisterStepThree")             				          
                </div>
  		</div>
<!-- End SmartWizard Content 1 -->
        <div>
    </div>
</div>
@section styles {
    @Styles.Render("~/Content/optional/register.css")
         @Styles.Render("~/Content/smart_wizard.css")
  
}

@section scripts {
    @Scripts.Render("~/bundles/jquerysmartwizard")
    <script type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function () { test(); }
        });

        $(function () {
            $("#birthDate").datepicker();
        });

        $(document).ready(function () {
            //  Wizard 1  	
            $('#wizard1').smartWizard({ transitionEffect: 'fade', onFinish: onFinishCallback });
            function onFinishCallback() {
                if ($("#userInformationForm").valid()) {
                    registration.submitRegistration();
                } else {
                    alert("The registration process failed. Please fill out all necessary fields.");
                }                
            }
        });

        var stepOneViewModel, medicalInfoViewModel, contactsViewModel, paymentViewModel;

        var registration = (function () {
            var model = @Html.JsonSerialize(Model);
            var stepOneModel = model.StepOne;
            var medInfoModel = model.MedicalInfo;
            var contactsModel = model.ContactInfo;
            var paymentModel = model.Payment;

            stepOneViewModel = ko.mapping.fromJS(stepOneModel);
            medicalInfoViewModel = ko.mapping.fromJS(medInfoModel);
            contactsViewModel = ko.mapping.fromJS(contactsModel);
            paymentViewModel = ko.mapping.fromJS(paymentModel);
            ko.applyBindings(stepOneViewModel);

            return {
                next: function () {
                   
                },
                prev: function () {

                },
                submitRegistration: function() {
                    model.StepOne = ko.mapping.toJS(stepOneViewModel);
                    model.MedicalInfo = ko.mapping.toJS(medicalInfoViewModel);
                    model.ContactInfo = ko.mapping.toJS(contactsViewModel);
                    model.Payment = ko.mapping.toJS(paymentViewModel);

                    $.ajax({
                        type: 'POST',
                        url: '/Account/SaveStepOne',
                        data: JSON.stringify(model),
                        success: function () {
                            alert("Ok");
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });
                }
            };
        })();

    </script>

    @Html.Partial("_RegisterStepOneValidation")
}
        </div></div>