﻿@{
    ViewBag.Title = "Index";
}

@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}
<div class="large-9 columns">
      <div class="panel">
           <div class="imgAboutUs"><img src="/images/deborah.jpg" height="146" /></div>
          <div class="aboutUsText">
             <p>  Power Enrichment is the educational department of the Empowerment Temple Youth Department that&nbsp;

is focused on implementing the mission of our Pastor Dr. Jamal Harrison-Bryant, to educate spiritually,&nbsp;

socially, economically and politically. </p>
<p> 
Reverend Deborah A. Franklin, M. Ed serves as the director. Who has been an educator for over 10 years and enrollment has increased by 50%. Under her directions Power Enrichment has developed&nbsp;<br />
partnerships with Maryland Out of School Time, Kidz Table, The Harbor Bank and Operation Hope just to name a few.</p>
<p>
Power Enrichment is important to the community by providing an atmosphere for children and youth to grow and flourish. We provide tutoring, activities, and hot meals to our students</p>
<p>
Power Enrichment Summer Camp is available for 6 weeks during the summer. Our students have participated in Financial Literacy Training with our partners, Operation Hope and The Harbor Bank of Baltimore. We also have partnered with Baltimore Youthworks training our youth for future careers. Our campers have also traveled to a variety of destination on "Field Trip" Fridays.</p>

<p>
Power Enrichment is the best camp for your child. Where our staff is caring and only wants to see your children achieve all of their goals by empowering their mind, body and spirit.</p>
<p>
Power Enrichment WELCOMES YOU!!!</p>
<br />
Sincerely,<br />
<br />
Rev. Deborah A. Franklin<br />
<br />
Camp Director</div>

        
         

        </div>
</div>
