﻿@{
    ViewBag.Title = "Index";
}

@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}

    <div class="large-9 columns">
      <div class="panel">
        <div class="row">
            <p>Thank you for choosing Power Enrichment Camp 2013 as your trusted provider for summer camp programming for your child! We are particularly excited about the expanded list of fun, educational and cultural activities we have available for our participants.</p>
            <p>Please take a moment to review each of the enclosed documents for more information on the program. It is extremely important that each parent/guardian reads, understands and shares the procedures and rules with your child prior to attending the first day of camp. Enclosed you will find the daily schedule and any other pertinent information regarding camp procedures, policies and rules.</p>
            <p>Again, thank you for the opportunity to empower your child for the summer. We look forward to continuing a lasting and mutually empowering relationship!</p>          
            <p>Respectfully,</p>          
            <p>Min. Deborah Franklin</p>
            <p>Camp Director</p>
            <p>Power Enrichment Camp</p>
        </div>
      </div>

      
    </div>

  
