body {
  /* fallback/image non-cover color */
  background-color: white;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(white, #cccccc);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cccccc));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(white, #cccccc);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(white, #cccccc);
  /* IE6 & IE7 */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC');
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFFFF', endColorstr='#FFCCCCCC')";
  padding-bottom: 0;
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: "Noticia Text", serif; }

h1 {
  color: #829d58; }

.panel {
  background: transparent;
  border: none; }
  .panel h3 {
    color: #829d58; }

.nav-bar {
  background: #829d58;
  font-family: "Noticia Text", serif;
  font-weight: 700;
  padding: 0 8px;
  text-transform: uppercase; }
  .nav-bar ul {
    border: none; }
  .nav-bar li {
    border: none;
    border-right: none !important;
    border-bottom: 1px solid white !important; }
    .nav-bar li:last-child {
      border-bottom: none !important; }
    .nav-bar li a, .nav-bar li a:first-child {
      color: #f0f0f0;
      font-size: 1.5em;
      line-height: 1.2em;
      padding: 20px 8px; }
    .nav-bar li:hover {
      background: #748d4f;
      color: white; }
    .nav-bar li.active, .nav-bar li.active:hover {
      background: #3e4b2a; }

button, .button {
  background: #829d58;
  border-color: #748d4f; }
  button:hover, button:focus, .button:hover, .button:focus {
    background: #9bb276; }

footer {
  background: #1a1a1a;
  color: white;
  padding: 0px 10px 20px;
  text-transform: uppercase; }

form {
  margin: 0 auto;
  max-width: 400px; }
  form#userInformationForm {
    margin: 0;
    max-width: 100%; }
    form#userInformationForm legend {
      display: none; }

fieldset {
  border: none; }
  fieldset legend {
    background: transparent;
    font-size: 1.5em;
    text-align: center; }

/* Registration Form */
form h3 {
  border-bottom: 3px solid #829d58;
  padding-bottom: 8px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  float: left;
  margin-right: 20px;
  margin-bottom: 12px;
  width: 100%;
  max-width: 250px; }

label {
  text-transform: uppercase;
  color: #444;
  font-size: 0.9em; }

input {
  height: 37px;
  padding: 3px;
}

input:focus {
  border: 1px solid #829D58;
  outline: none; }

.large {
  max-width: 450px; }

#gender, #shirtSize {
  font-size: 1.2em;
  width: 90%;
  padding: 3px; }

#state {
  max-width: 50px; }

.anchor {
    width:100%;
}

.swMain {
    background-color:#F8F8F8;
}

.questionnaireArea {
    clear: both;
}

.questionnaireArea > div > label {
    float: left;
    width: 400px;
}

.questionnaireArea > div > input {
    height: 12px;
}

.nav-bar > li {
    margin-left: auto;
    margin-right: auto;
}

.nav-bar > li a{
    text-align: center;
}

#navPanel {
    padding: 0px 10px !important;
    box-shadow: 10px 10px 5px #888888;
}

.panel {
    padding: 10px 20px !important;
}

#infoBar {
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: right;
    font-weight: bold;
}

.welcomeArea {
    font-weight: bold;
    float: left;
    padding-left: 15px;
}

input[type="radio"] {
    height: 12px;
    margin-right: 5px;
}

.payment {
    clear: both;
    font-weight: bold;
    margin-left: -20px;
    margin-bottom: 10px;
}
.imgAboutUs {
    float:left;
    width:20%;
}
.aboutUsText {
    float:left;
    width:80%;
}
.questionaireQuestion, .finalQuestion {
    clear:both;
}

.finalQuestion > label {
    font-weight: bold;
}

.loginArea a:first-child {
    border-right: thin solid #808080;
    padding: 0px 5px;
}

.loginArea a:last-child {
    padding: 0px 5px;
}