﻿@{
    ViewBag.Title = "Index";
}
@section banner {
<img src="/images/banner_web.jpg" width="1600" height="150"><br><br>
}
 <div class="large-9 columns">
      <div class="panel">
        <div class="row">
<p><strong>Drop Off:</strong>The drop off area will only be available for 3 minutes.</p>
<p><strong>Daily Sign In/Out Procedures:</strong>Parents/Students will enter through the front door and come down the stairs to your immediate left when entering the building to sign in and sign out your camper. Identification will be asked for and recorded for anyone picking up a camper who is not the parent/guardian.</p>

<p><strong>Rules:</strong> To ensure your child&rsquo;s safety along with the safety of other campers, we strongly suggest that you go over these absolutes. There will absolutely be no hitting, spitting, kicking, obscene/inappropriate touching or language while at the camp. Remind your child that they are representing his/her family when they are in our care. We reserve the right to cancel any child&rsquo;s camp privileges with no refund for breaking any one of the rules. If there is a problem or your child feels there is a problem, we would recommend the child come to an adult staff member in charge so we could resolve the situation on the spot. We must remind children that there will be absolutely no running or bouncing of balls in any area of the building. Most, if not all, situations are preventable if our campers were perfect. Knowing that everyone falls short of grace sometimes, we ask that you religiously remind your camper(s) to treat others the way they would want to be treated. We expect all campers to listen and respect the authorities of Power Enrichment Camp. NO PHYSICAL CONTACT WHAT SO EVER. CHILDERN MUST KEEP THEIR HANDS AND FEET TO THEMSELVES.</p>

<p><strong>Meals:</strong> Breakfast, lunch, dinner and snack will be provided for the camper on a daily basis. If there are any changes parent/guardian will be notified immediately.</p>

<p><strong>No Cell Phones:</strong> There will not be any cell phones allowed at the camp. Power Enrichment Camp will not be responsible for the lost or damaged cell phones. We strongly recommend that your child does not bring a cell phone to summer camp. Power Enrichment Camp will not hold or store cell phones for children. Thank you for your cooperation.</p>
       </div>
      </div>

      
    </div>